@charset "utf-8";
#hatching button,
#effect button,
#save button,
#export button {
  font-family: system-ui, sans-serif;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}


.main-tool-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 100px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.15s ease,
    border-color 0.2s ease;
  box-shadow: none;
}

.main-tool-icon {
  width: 60px;
  height: 60px;
  transition: filter 0.2s ease;
  pointer-events: none;
}

.main-tool-caption {
  margin-bottom: 6px;
  font-size: 0.75rem;
  font-family: sans-serif;
  color: var(--main-tool-button-fg);
  pointer-events: none;
  transition: color 0.2s ease;
}

.main-tool-button:hover {
  background-color: rgba(0, 123, 255, 0.05);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transform: translateY(-1px);
}
.main-tool-button.theme-yellow:hover {
  background-color: rgba(255, 159, 10, 0.07);
}

/* ==== active ==== */
.main-tool-button:active {
  background-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}
.main-tool-button.theme-yellow:active {
  background-color: #fffb0a;
  box-shadow: 0 4px 10px rgba(217, 255, 0, 0.4);
}

.main-tool-button:active .main-tool-icon {
  filter: brightness(0) invert(1)
}
.main-tool-button.theme-yellow:active .main-tool-icon {
  filter: brightness(0) invert(0)
}

.main-tool-button:active .main-tool-caption {
  color: #fff;
}
.main-tool-button.theme-yellow:active .main-tool-caption {
  color: black;
}

/* ==== 無効状態 ==== */
.main-tool-button.disabled {
  opacity: 0.5;
  pointer-events: none;
}