@charset "utf-8";

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.badge img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.big-badge {
  padding: 10px;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  transition: filter 0.2s, transform 0.2s ease;
}
.big-badge:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}
.big-badge:active {
  transform: scale(1.0);
}
.big-badge img {
  width: 2em;
}

.small-badge {
  padding: 7px;
  width: 1em;
  height: 1em;
  border-radius: 2em;
  transition: filter 0.2s, transform 0.2s ease;
}
.small-badge:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}
.small-badge img {
  width: 1em;
}

.mini-badge {
  width: 1.3em;
  position: absolute;
  left: 20px;
  z-index: 75;
  transition: filter 0.2s, transform 0.2s ease;
}
.mini-badge:hover {
  filter: brightness(1.2);
  transform: scale(1.2);
}
.mini-badge img {
  width: 1.3em;
}
.mini-none {
  height: 1.3em;
  border: 0.5px dotted #676767;
}

.attachment-badge {
  background-color: #c3b633;
}

.comment-badge {
  background-color: #245b00;
}

.start-badge {
  background-color: #eba5a5;
}
.start-badge img {
  width: 0.9em;
  transform: translateX(5%);
}
#start-badge img {
  width: 1.7em;
}

.response-badge {
  background-color: #6dbbb7;
}

.donthear-badge {
  background-color: #a9a9a9;
}