@charset "utf-8";

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.badge img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.big-badge {
  padding: 10px;
  width: 2em;
  height: 2em;
  border-radius: 2em;
}
.big-badge img {
  width: 2em;
}

.small-badge {
  padding: 7px;
  width: 1em;
  height: 1em;
  border-radius: 2em;
}
.small-badge img {
  width: 1em;
}

.mini-badge {
  width: 1.3em;
  position: absolute;
  left: 20px;
}
.mini-badge img {
  width: 1.3em;
}

.attachment-badge {
  background-color: #ebd600;
}

.comment-badge {
  background-color: rgb(54, 136, 0);
}
