@charset "utf-8";

#case-categorizing-overlay {
  background-color: #000000bf;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4000;
}
#case-categorizing-overlay.hide {
  display: none;
}

#categorize-tools{
  position: relative;
  width: 95%;
  display: flex;
  justify-content: center;
}
#category-color {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #242424;
}
.category-color-btn {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #555;
  transition: 0.2;
}
.category-color-btn.active {
  border-color: #fff;
}
.category-color-btn:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
#category-ok-btn-box {
  position: absolute;
  top: 5px;
  right: 0;
}
#category-ok-btn {
  background-color: #2196f3;
  color: #fff;
  border: 2px solid #1976d2;
  padding: 5px 14px;
  border-radius: 6px;
  cursor: pointer;
  width: 200px;
  font-size: 20px;
  transition: 0.2s;
}
#category-ok-btn.disabled {
    background-color: #b0b0b0;
    color: #fff;
    border: 2px solid #999;
    cursor: not-allowed;
    opacity: 0.6;
}
#category-ok-btn:not(.disabled):hover {
  background-color: #42a5f5;
  border-color: #1565c0;
  box-shadow: 0 0 20px 5px #2196f3
}
#category-ok-btn:not(.disabled):active {
  background-color: #1976d2;
}


#categorizing-area{
  border: 2px solid #333;
  width: 95%;
  height: 70%;
  position: relative;
  overflow-y: scroll;
  overflow-x: scroll;
}
#categorizing-area::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#categorizing-area::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}
#categorizing-area::-webkit-scrollbar-thumb {
  background-color: var(--sub-theme);
  border-radius: 3px;
}
#categorizing-area::-webkit-scrollbar-thumb:hover {
  background-color: var(--sub-theme-hover);
}

#categorizing-area canvas {
  display: block;
  position: relative;
  cursor: crosshair;
}
#be-categorized-items {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  padding: 50px;
}
.be-categorized-item {
  background-color: #2d2d2df0;
  color: #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: 0.2s;
}
.be-categorized-item.duplicated {
  color: #ff6868;
}
.be-categorized-item.emphasize {
  transform: scale(1.1);
}
.be-categorized-item.emphasize.duplicated {
  filter: brightness(1.5);
  outline: 5px solid #ff6868;
}
.be-categorized-item.emphasize:not(.duplicated) {
  filter: brightness(2);
  outline: 5px solid #ccc;
}
.be-categorized-case-id {
  font-size: 30px;
}
.be-categorized-case-name {

}
#draw-pointer {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  transform: translate(-7.5px, -7.5px);
  position: absolute;
  pointer-events: none;
}
#draw-pointer.hide {
  display: none;
}

#category-result {
  gap: 10px;
  width: 95%;
  padding: 20px 0;
  height: fit-content;
  border: 1px solid #333;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.category-result-item {
  display: flex;
  align-items: center;
  color: #ccc;
  gap: 20px;
  padding: 0 20px;
}
.category-result-color {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: 2px solid #555;
}
.category-result-case-ids {
  font-size: 19px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.category-result-case-ids::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.category-result-case-ids::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--sub-theme);
  border-radius: 2.5px;
  border: 1px solid #505050;
  transition: background-color 0.2s;
}
.category-result-case-ids::-webkit-scrollbar-track {
  background: transparent;
}
.category-result-case-ids::-webkit-scrollbar-thumb:hover {
  background-color: var(--sub-theme-hover);
  cursor: grab;
}
.category-result-case-ids::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}