.FlexTextarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
  font-family: "MS Gothic", "ＭＳ ゴシック", monospace;

  flex: 1
}

.FlexTextarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 15px 5px 45px;
  min-height: 120px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
}

.FlexTextarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 5px 15px 5px 45px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}

.FlexTextarea__textarea:focus {
  outline: none;
  border: none;
}
