@charset "utf-8";

#header {
  position: sticky;
  top:0;
  background: var(--header-bg);
  color: var(--header-fg);
  padding:10px;
  z-index:100;
  display: flex;
  flex-direction: column;
}
#header hr {
  border-color: var(--header-hr-border);
}

#audio {
  display: none;
  padding-bottom: 10px;
  width: 100%;
}

#audio-controller {
  display: flex;
  gap: 10px;
}
#audio-controller.hide {
  display: none;
}

#user-tool {
  display: flex;
  flex-direction: column;
}
#user-tool.hide {
  display: none;
}

#user-tool img {
  margin: 10px 10px 10px 30px;
  width: 30px;
  cursor: pointer;
  transition: filter 0.2s, transform 0.2s ease;
}
#user-tool img:hover {
  filter: brightness(1.2);
  transform: scale(1.2);
}