@charset "utf-8";

#resize-bar {
  width: 6px;
  background-color: #d1cd00;
  margin: 20px 10px;
  border-radius: 6px;
}
#resize-bar:hover {
  cursor: pointer;
  background-color: #fffa00;
}
#resize-bar.active {
  cursor: col-resize;
  background-color: #fffa00;
  box-shadow: 0 0 10px 1px #fffa00;
}