@charset "utf-8";

#shortcut-helper {
  position: fixed;
  z-index: 200;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 1s;
  opacity: 1;
}
#shortcut-helper.hide {
  opacity: 0;
}

#shortcut-list {
  display: flex;
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  top: 20px;
  gap: 5px;
  background: rgb(60 65 0 / 80%);
  right: 20px;
  flex-direction: column;
  align-items: flex-start;
}

#shortcut-list > div {
  color: #ccc;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 10px;
}
#shortcut-list img {
  width: 50px;
}
#shortcut-list span {
  font-size: 20px;
}