@charset "utf-8";

#playback-box {
  cursor: url("../img/scroll-24t.png") 12 12, row-resize;
}
#volume-box {
  cursor: url("../img/scroll-24t.png") 12 12, row-resize;
}
#speed-box {
  cursor: url("../img/scroll-24t.png") 12 12, row-resize;
}

#playback-time-box {
  display: flex;
  align-items: flex-end;
}
#current-time {
  cursor: url("../img/scroll-24t.png") 12 12, row-resize;
  color: var(--sub-theme);
  font-size: x-large;
  transition: color 0.2s, transform 0.2s;
}
#current-time:hover {
  color: var(--sub-theme-hover);
  transform: scale(1.05);
}

.slider {
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--slider-bg);
  padding: 14px 18px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.slider.big {
  --height: 54;
  border-radius: calc(var(--height) * 1px / 2);
  box-sizing: border-box;
  height: calc(var(--height) * 1px);
  padding-right: calc(var(--height) * 1px / 2);
  padding-left: 23px;
  margin-bottom: 10px;
}

.slider img {
  width: 25px;
  cursor: pointer;
  transition: filter 0.2s, transform 0.2s ease;
}
.slider img:hover {
  filter: brightness(1.2);
  transform: scale(1.2);
}
.slider.big img {
  width: 16px;
}

#playback-slider-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
#playback-slider {
  --value: 0;
  --thumb-scale: 1.0;
  appearance: none;
  width: 100%;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
#volume-slider,
#speed-slider {
  appearance: none;
  width: 220px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
#volume-slider {
  --value: 10;
  --thumb-scale: 1.0;
}
#volume-slider:disabled {
  pointer-events: none;
}
#speed-slider {
  --value: 50;
  --thumb-scale: 1.0;
}

#playback-slider::-webkit-slider-runnable-track,
#volume-slider::-webkit-slider-runnable-track,
#speed-slider::-webkit-slider-runnable-track {
  border-radius: 2px;
  height: 4px;
  background: linear-gradient(
    to right,
    var(--sub-theme) calc(var(--value) * 1%),
    #9b9b9b calc(var(--value) * 1%)
  );
}

#playback-slider::-webkit-slider-thumb,
#volume-slider::-webkit-slider-thumb,
#speed-slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--sub-theme);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  transition: background 0.2s, transform 0.2s;
  margin-top: -6px;
  transform: scale(var(--thumb-scale));
}

#playback-slider::-webkit-slider-thumb:hover,
#volume-slider::-webkit-slider-thumb:hover,
#speed-slider::-webkit-slider-thumb:hover {
  background: var(--sub-theme-hover);
  transform: scale(1.2);
}
#playback-slider::-webkit-slider-runnable-track:hover,
#volume-slider::-webkit-slider-runnable-track:hover,
#speed-slider::-webkit-slider-runnable-track:hover {
  background: linear-gradient(
    to right,
    var(--sub-theme-hover) calc(var(--value) * 1%),
    #ccc calc(var(--value) * 1%)
  );
}


.slider-label {
  width: 40px;
  text-align: right;
  font-size: 14px;
  color: var(--slider-label-fg);
}