@charset "utf-8";

#tabs>.tab-btn {
  flex: 1;
  background-color: #2e2e2e;
  border: none;
  padding: 11px;
  font-size: 15px;
  color: #aaa;
  cursor: pointer;
  transform: scale(0.8);
  border-radius: 4px 4px 0 0;
}
#tabs>.tab-btn.active {
  background-color: #3e3e3e;
  transform: scale(1.0);
  color: #fff;
}


.sub-tool-section {
  --sub-tool-section-radius: 6;
  border: 1px solid var(--sub-tool-section-border);
  border-radius: calc(var(--sub-tool-section-radius) * 1px);
  padding: 0.5rem;
  background: var(--sub-tool-section-bg);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.tab-content>.sub-tool-section:last-child::-webkit-scrollbar {
  width: calc(var(--sub-tool-section-radius) * 2px);
  height: calc(var(--sub-tool-section-radius) * 2px);
}
.tab-content>.sub-tool-section:last-child::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--sub-theme);
  border-radius: 6px;
  border: 2px solid #505050;
  transition: background-color 0.2s;
}
.tab-content>.sub-tool-section:last-child::-webkit-scrollbar-track {
  background: #505050;
  border-radius: calc(var(--sub-tool-section-radius) * 1px);
}
.tab-content>.sub-tool-section:last-child::-webkit-scrollbar-thumb:hover {
  background-color: var(--sub-theme-hover);
  cursor: grab;
}
.tab-content>.sub-tool-section:last-child::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.sub-tool-header {
  font-weight: bold;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  color: var(--sub-tool-header-fg);
}
.sub-tool-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.sub-tool-buttons button {
  margin: 0.2rem;
  padding: 0.4rem 0.6rem;
  border: none;
  background: var(--sub-tool-buttons-btn-bg);
  color: var(--sub-tool-buttons-btn-fg);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, transform 0.2s;
}
.sub-tool-buttons button:hover {
  background-color: var(--sub-tool-buttons-btn-hover-bg);
  color: var(--sub-tool-buttons-btn-hover-fg);
  transform: scale(1.1);
}
.sub-tool-buttons button:active {
  background: var(--sub-tool-buttons-btn-bg);
  color: var(--sub-tool-buttons-btn-fg);
  transform: scale(1.0);
}


#case-ids-selector {
  display: flex;
  gap: 10px;
  align-items: center;
}
#case-ids-wrapper {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  padding-bottom: 8px;
}
#case-ids-wrapper #case-ids-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d1cd00;
  top: 8px;
  right: 8px;
  cursor: grab;
  box-shadow: 0 0 2px #000;
}
#case-ids-wrapper #case-ids-handle:hover {
  box-shadow: 0 0 20px 5px #fffa00;
}
#case-ids-wrapper #case-ids-handle:active {
  cursor: grabbing;
}
#case-ids-switcher {
  display: flex;
}
#case-ids-switcher>img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sub-tool-section .sub-tool-select {
  padding: 6px;
  background: #222;
  color: #ccc;
  border: 1px solid #555;
  cursor: pointer;
}
.sub-tool-section .sub-tool-section>option {
  pointer-events: auto;
  cursor: pointer;
}
#prev-case-btn {
  cursor: pointer;
  transition: 0.2s;
}
#prev-case-btn:hover {
  transform: scale(1.3);
  filter: brightness(2);
}
#next-case-btn {
  cursor: pointer;
  transition: 0.2s;
}
#next-case-btn:hover {
  transform: scale(1.3);
  filter: brightness(2);
}

#case-content {
  --scroll-width: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
#case-content::-webkit-scrollbar {
  width: var(--scroll-width);
  height: var(--scroll-width);
}
#case-content::-webkit-scrollbar-track {
  background: #505050;
  border-radius: calc(var(--scroll-width) / 2);
}
#case-content::-webkit-scrollbar-thumb {
  background-color: var(--sub-theme);
  border-radius: calc(var(--scroll-width) / 2);
}
#case-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--sub-theme-hover);
  cursor: grab;
}
#case-content::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

#case-content li {
  background: #222;
  color: #ccc;
  border-bottom: 1px solid #444;
  padding: 12px;
}
#case-content li.loadable {
  position: sticky;
  bottom: 0;
}
#case-content li.loadable.nosticky {
  position: static;
}
#case-content li:last-child {
  border-bottom: none;
}

#case-content .item-title {
  font-weight: bold;
  margin-bottom: 4px;
}
#case-content .item-title.multi{
  position: sticky;
  width: 250px;
}

/*
*
* グループ件名用ボックス
*
*/
#case-content .item-contents {
  display: flex;
  gap: 10px;
}

/*
*
* 各項目用ボックス
*
*/
#case-content .item-content {
  font-size: 0.9em;
  opacity: 0.9;
  overflow: hidden;
  max-height: 50px;
  transition: max-height 0.3s ease;
}
#case-content .item-content.loadable {
  max-height: none;
}
#case-content .item-content.multi {
  --min-width: 250;
  flex: 1 1 250px;
  min-width: calc(var(--min-width) * 1px);
}
#case-content .item-content.multi:not(:last-child) {
  border-right: 1px solid #ccc;
  max-width: 350px;
}
#case-content .item-content.multi:last-child {
  width: 100%;
}
#case-content .item-content.grabbable {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow: visible;
}
#case-content .item-content.grabbables {
  max-height: none;
  overflow: visible;
}
#case-content .item-content.expanded {
  max-height: 1000px; /* 十分大きい値で全文表示 */
}


/*
*
* PDF読み込みエリア
*
*/
#case-content .item-content-loadable-area {
  margin: 10px;
  display: flex;
  gap: 7px;
  align-items: center;
  background-color: #00000033;
  user-select: none;
  border: 2px dashed #fffb0a;
  padding: 10px 0;
  cursor: pointer;
}
#case-content .item-content-loadable-area * {
  pointer-events: none;
}


/*
*
* 管理番号用ハンドル
*
*/
#case-content .case-id-handle {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d1cd00;
  cursor: grab;
}
#case-content .case-id-handle:hover {
  box-shadow: 0 0 20px 5px #fffa00;
}
#case-content .case-id-handle:active {
  cursor: grabbing;
}


/*
*
* 添付資料用ハンドル
*
*/
#case-content .attachment-box {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 10px;
  overflow: visible;
}

#case-content .attachment-handle {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d1cd00;
  cursor: grab;
}
#case-content .attachment-handle:hover {
  box-shadow: 0 0 20px 5px #fffa00;
}
#case-content .attachment-handle:active {
  cursor: grabbing;
}

#case-content .attachment-name {
  cursor: pointer;
  transition: 0.2s;
}
#case-content .attachment-name:hover {
  transform: scale(1.1);
  font-weight: 900;
}


/*
*
* PDF読み込み
*
*/
#case-content .item-content-load-img-box {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 7px;
}
#case-content .item-content-load-img-box img {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: transform 0.2s, opacity 0.2s;
}
#case-content .item-content-load-by-selection-img,
#case-content .item-content-load-by-drop-img {
  opacity: 0;
}
#case-content .item-content-load-by-selection,
#case-content .item-content-load-or,
#case-content .item-content-load-by-drop {
  transition: transform 0.2s, color 0.2s;
}

#case-content .item-content-loadable-area:hover {
  border-color: #41fff8;
  background-color: #00292899;
}
#case-content .item-content-loadable-area:hover .item-content-load-neutral-img {
  transform: scale(1.1);
  opacity: 0.5;
}
#case-content .item-content-loadable-area:hover .item-content-load-by-selection-img {
  transform: scale(1.1);
  opacity: 1;
}
#case-content .item-content-loadable-area:hover .item-content-load-by-selection {
  transform: scale(1.1);
  color: #41fff8;
}
#case-content .item-content-loadable-area:hover .item-content-load-or,
#case-content .item-content-loadable-area:hover .item-content-load-by-drop {
  transform: scale(0.9);
  color: #676767;
}

#case-content .item-content-loadable-area.active {
  border-color: #ff4010;
  background-color: #270e0099;
}
#case-content .item-content-loadable-area.active .item-content-load-neutral-img {
  transform: scale(1.1);
  opacity: 0.5;
}
#case-content .item-content-loadable-area.active .item-content-load-by-drop-img {
  transform: scale(1.1);
  opacity: 1;
}
#case-content .item-content-loadable-area.active .item-content-load-by-drop {
  transform: scale(1.1);
  color: #ff4010;
}
#case-content .item-content-loadable-area.active .item-content-load-by-selection,
#case-content .item-content-loadable-area.active .item-content-load-or {
  transform: scale(0.9);
  color: #676767;
}

#case-content .item-content-load-contexts {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*
*
* 出力タブ
*
*/

#output {
  background-color: #2b2b2b;
  padding: 10px;
  white-space: pre-wrap;
  color: #ccc;
}