.text-box {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
  font-family: "MS Gothic", "ＭＳ ゴシック", monospace;

  flex: 1
}

.text-body-bg {
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px 15px 5px 45px;
  min-height: 100px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  color: var(--text-body-bg-fg);
}

.text-body {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 5px 15px 5px 45px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
  z-index: 50;
  color: var(--text-body-fg);
}

.text-body:focus {
  outline: none;
  border: none;
}

.TB_edited {
  color: var(--text-body-edited-fg);
  font-weight: bold;
}

.TBB_hidden {
  visibility: hidden;
}

.TB_transparent {
  color: transparent;
}

.has-replace {
  background-color: var(--has-replace-bg);
}
.is-searched {
  background-color: #337eff;
  color: black;
}
.is-searched.focus {
  box-shadow: 0 0 20px 3px #337eff;
}
.focus-para {
  background-color: var(--focus-para-bg);
}